/* Colors from Learn Meditation 5 theme: https://color.adobe.com/es/Learn-Meditation-5-color-theme-1798650/ 
* white: #FFFFFF (CHANGED TO #F0F0EC)
* lightest-green: #EAFFD9
* lighter-green: #B7E8BF
* dark-green: #86D19E
* darkest-green: #4FA87B
*/
body {
	font-family: 'Arial';
	font-weight: 100;
	color: #FFFFFF;
}

.clock {
	position: relative;
	width: 360px;
	height: 360px;
	background-color: #000000;
	border-radius: 50%;
	overflow-x: hidden;
}

.container {
	box-sizing: border-box;
	display: flex;
	display: -webkit-flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	flex-direction: -webkit-column;
	align-items: center;
	align-items: -webkit-center;
	align-content: center;
	align-content: -webkit-center;
	justify-content: center;
	justificy-content: -webkit-center;
}

.data {
	width: 100%;
    text-align: center;
}

.errorMessage {
	width: 80%;
    text-align: center;
    font-size: 36px;
}